<ion-header>
  <app-header [showCloseIcon]="true" [showUserIcon]="false" (close)="goBack()"></app-header>
</ion-header>
<ion-content>
    <div class="main-content mt-3">
    <form [formGroup]="resetPassword" (ngSubmit)="submit()">
      <div class="form">
      <ion-row> 
        <ion-col  size="12" size-md="11">
      <div class="form-group">
        <label name="name" >User Name</label>
          <div class="select-container">
          <div class="input-container">
        <input type="text" class="form-control color" formControlName="name" placeholder="User Name"/>
        @if(resetPassword.get('name')?.touched){
            <div class="error">
              @if (resetPassword.get('name')?.errors?.['required']) {
        <small>User Name is required</small>
      }
            </div>
          }
          </div>
          </div>
          </div>
          </ion-col>
      </ion-row>
        <ion-row>
           <ion-col  size="12" size-md="11">
      <div class="form-group">
        <label for="password">Password </label>
         <div class="select-container">
          <div class="input-container">
        <input type="password" class="form-control" formControlName="password" placeholder="Password"/>
         @if (resetPassword.get('password')?.touched && resetPassword.get('password')?.invalid) {
    <div class="error">
      @if (resetPassword.get('password')?.errors?.['required']) {
        <small>Password is required</small>
      }
      @if (resetPassword.get('password')?.errors?.['minlength']) {
        <small>Minimum 6 characters</small>
      }
    </div>
  }
  </div>
  </div>
      </div>
      </ion-col>
      </ion-row>
     <ion-row>
<!-- Confirm Password -->
  <ion-col  size="12" size-md="11">
<div class="form-group">
  <label name="conPassword">Confirm Password</label>
  <div class="select-container">
          <div class="input-container">
    <input type="password" class="form-control" formControlName="conPassword" placeholder="Confirm Password" />

    <!-- Required Error -->
    @if (resetPassword.get('conPassword')?.touched && resetPassword.get('conPassword')?.hasError('required')) {
      <div class="error">
        <small>Confirm Password is required</small>
      </div>
    }

    <!-- Mismatch Error (form-level error) -->
    @if (resetPassword.hasError('mismatch') && resetPassword.get('conPassword')?.touched) {
      <div class="error">
        <small>Passwords do not match</small>
      </div>
    }
  </div>
</div>
</div>
</ion-col>
</ion-row>

       <div class="d-flex mt-1">
          <div class="d-flex gap-2 ">
            <button type="submit" class="btn table-button submit-button" >Submit</button>
            <button
              type="button"
              class="btn table-button"
              (click)="cancel()"
            >
            Cancel
            </button>
            </div>
            </div>
          </div>
    </form>
    
  </div>
</ion-content>