<ion-header>
  <app-header [showCloseIcon]="true" [showUserIcon]="false" (close)="goBack()"></app-header>
</ion-header>
<ion-content>
  <div class="layout-container">
  <div class="main-content">
       <form [formGroup]="itemEntry" (ngSubmit)="onSubmit()">
        <div class="form">
        <ion-row>
        <ion-col size="12" size-md="5">
      <div class="form-group">
         <label name="itemCode" class="labels">Item Code <span>*</span> </label>
         <div class="select-container">
          <div class="input-container">
        <input type="text" class="form-control" formControlName="itemCode" placeholder="Item Code"/>
        @if(itemEntry.get('itemCode')?.touched){
                  <div class="error">
                    @if (itemEntry.get('itemCode')?.errors?.['required']) {
                    <small>Item Code is required</small>
                    }
                  </div>
                  }
          </div>
          </div>
          </div>
          </ion-col>
          <ion-col size="12" size-md="5">
      <div class="form-group">
        <label name="curStock">Current Stock</label>
         <div class="select-container">
                  <div class="input-wrapper">
        <input type="number" class="form-control" formControlName="curStock" placeholder="Current Stock"/>
      </div>
      </div>
    </div>
      </ion-col>
      </ion-row>
        <ion-row>
          <ion-col size="12" size-md="5">
      <div class="form-group">
        <label name="itemName" class="labels">Item Name <span>*</span></label>
         <div class="select-container">
                  <div class="input-wrapper">
        <input type="text" class="form-control" formControlName="itemName" placeholder="Item Name"/>
         @if((itemEntry.get('itemName')?.touched||itemEntry.get('itemName')?.dirty
                  )&& itemEntry.get('itemName')?.invalid){
                  <div class="error">
                    @if (itemEntry.get('itemName')?.errors?.['required']) {
                    <small> Item Name is required</small>
                    } @if (itemEntry.get('itemName')?.errors?.['minlength']) {
                    <small> Item Name must be aleast 3 characters long.</small>
                    } @if (itemEntry.get('itemName')?.errors?.['pattern']) {
                    <small
                      >Item Name can only contain letters and spaces.</small
                    >
                    }
                  </div>
                  }
      </div>
      </div>
    </div>
      </ion-col>
      <ion-col size="12" size-md="5">
              <div class="form-group">
                <label name="category" 
                  >Category <span>*</span></label
                >
                <div class="select-container">
                  <div class="input-wrapper">
                    <div class="select-wrapper">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="category"
                        id="categoryInput"
                        placeholder="Category"
                        (focus)="onFocus('category')"
                        (blur)="onBlur('category')"
                        autocomplete="off"
                      />
                      <ion-icon
                        name="caret-down-outline"
                        class="select-icon"
                      ></ion-icon>
                    </div>
                    <div class="error">
                      @if(itemEntry.get('category')?.errors?.['invalidOption'])
                      {
                      <small>Please select a valid Category from list</small>
                      }
                    </div>
                  </div>
                  @if(showDropdown['category']){
                  <div class="dropdown bootstrap-autocomplete-list">
                    @for (n of filtered['category']; track n) {
                    <button
                      type="button"
                      class="dropdown-item"
                      (mousedown)="onSelect('category',n)"
                    >
                      {{n}}
                    </button>
                    }
                  </div>
                  }
                </div>
              </div>
            </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md="5">
      <div class="form-group">
        <label name="purchasePrice" class="labels">Purchase Price <span>*</span></label>
         <div class="select-container">
                  <div class="input-wrapper">
        <input type="number" class="form-control" formControlName="purchasePrice" placeholder="Purchase Price"/>
         @if(itemEntry.get('purchasePrice')?.touched){
                  <div class="error">
                    @if (itemEntry.get('purchasePrice')?.errors?.['required']) {
                    <small>Purchase Price is required</small>
                    }
                  </div>
                  }
      </div>
      </div>
    </div>
      </ion-col>
      <ion-col size="12" size-md="5">
      <div class="form-group">
        <label name="minStock">Min Stock</label>
         <div class="select-container">
                  <div class="input-wrapper">
        <input type="number" class="form-control" formControlName="minStock" placeholder="Min Stock"/>
      </div>
      </div>
    </div>
      </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="12" size-md="5">
              <div class="form-group">
                <label for="parentUom" class="labels"
                  >UOM <span>*</span></label
                >
                <div class="select-container">
                  <div class="input-wrapper">
                    <div class="select-wrapper">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="parentUom"
                        id="parentUomInput"
                        placeholder="UOM"
                        (focus)="onFocus('parentUom')"
                        (blur)="onBlur('parentUom')"
                        autocomplete="off"
                      />
                      <ion-icon
                        name="caret-down-outline"
                        class="select-icon"
                      ></ion-icon>
                    </div>
                     @if(itemEntry.get('parentUom')?.touched){
                    <div class="error">
                      @if (itemEntry.get('parentUom')?.errors?.['required']) {
                      <small>UOM is required</small>
                      }
                      @if(itemEntry.get('parentUom')?.errors?.['invalidOption'])
                      {
                      <small>Please select a valid UOM from list</small>
                      }
                    </div>
                    }
                  </div>
                  @if(showDropdown['parentUom']){
                  <div class="dropdown bootstrap-autocomplete-list">
                    @for (n of filtered['parentUom']; track n) {
                    <button
                      type="button"
                      class="dropdown-item"
                      (mousedown)="onSelect('parentUom',n)"
                    >
                      {{n}}
                    </button>
                    }
                  </div>
                  }
                </div>
              </div>
            </ion-col>
      <ion-col size="12" size-md="5">
      <div class="form-group">
        <label for="period">Warranty Period</label>
         <div class="select-container">
                  <div class="input-wrapper">
        <input type="text" class="form-control" formControlName="period" placeholder="Warranty Period"/>
      </div>
      </div>
    </div>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md="5">
      <div class="form-group">
        <label name="mrp" class="labels">MRP <span>*</span></label>
         <div class="select-container">
                  <div class="input-wrapper">
        <input type="text" class="form-control" formControlName="mrp" placeholder="MRP"/>
</div>
</div>
</div>
</ion-col>
  <ion-col size="12" size-md="5">
      <div class="form-group">
        <label name="loc">Location <span>*</span></label>
         <div class="select-container">
                  <div class="input-wrapper">
        <input type="text" class="form-control" formControlName="loc" placeholder="Location"/>
          @if(itemEntry.get('loc')?.touched){
                  <div class="error">
                    @if (itemEntry.get('loc')?.errors?.['required']) {
                    <small>Location is required</small>
                    }
                  </div>
                  }
</div>
</div>
</div>
</ion-col>
</ion-row>
<ion-row>
<ion-col size="12" size-md="5">
         <div class="form-group">
        <label name="qty" class="labels">Quantity <span>*</span></label>
         <div class="select-container">
                  <div class="input-wrapper">
        <input type="text" class="form-control" formControlName="qty" placeholder="Quantity"/>
      </div>
      </div>
    </div>
      </ion-col>
      <ion-col size="12" size-md="5">
        <div class="form-group">
          <label name="discount">Discount</label>
           <div class="select-container">
                  <div class="input-wrapper">
          <input class="form-control" formControlName="discount" placeholder="Discount"/>
          </div>
          </div>
        </div>
        </ion-col>
      </ion-row>

          <div class="d-flex justify-content-between align-items-center my-2">
          <div class="d-flex gap-2">
            <button type="submit" class="btn table-button submit-button " [disabled]="itemEntry.invalid" >Submit</button>
            <button
              type="button"
              class="btn table-button"
              (click)="cancel()"
            >
            Cancel
            </button>
            </div>
            </div>
          </div>
    </form>
  </div>
  </div>
</ion-content>