
  <button  class="toggle-btn ms-1 fs-4" (click)="sideBar()">
     <ion-icon slot="start" name="menu-outline"></ion-icon>
  </button>  
  <!-- Main container -->
  <div class="main-container">
    <!-- Sidebar -->
    <div class="sidebar setup-items pt-5" [class.open]="sidebarOpen">
     <!-- Setup with toggle -->
      <div class="menu-title ps-4 pt-3" (click)="dashboard()">
        <span class="menu-label ps-2">DashBoard</span>
      </div>
      <div class="menu-title ps-2" (click)="toggleSetup()">
         <ion-icon class="side-icon" slot="start" [name]="showSetup ? 'caret-back' : 'caret-forward'" color="dark"></ion-icon>
        <span class="menu-label ps-2">Setup</span>
      </div>

      <!-- Nested setup items -->
       @if(showSetup){
      <div class="ms-5" >
        <div class="mb-3 ms-1 menu-title" (click)="user()">User</div>
        <div class="mb-3 ms-1 menu-title">Security Group</div>
        <div class="mb-3 ms-1 menu-title" (click)="userType()">User Type</div>
       </div>
    }
    <div class="menu-title ps-4" (click)="stockEntry()">
        <span class="menu-label ps-2">Stock Entry</span>
      </div>
      <div class="menu-title ps-4" (click)="sale()">
        <span class="menu-label ps-2">Sale</span>
      </div>
      <div class="menu-title ps-2" (click)="report()">
         <ion-icon class="side-icon" slot="start" name="caret-forward" color="dark"></ion-icon>
        <span class="menu-label ps-2">Report</span>
      </div>
      <div class="menu-title ps-4">
        <span class="menu-label ps-2">Accounting</span>
      </div>
      <div class="menu-title ps-4">
        <span class="menu-label ps-2">User Manual</span>
      </div>
      <div class="menu-title ps-4">
        <span class="menu-label ps-2">About CM2</span>
      </div>
    </div>

  