<ion-header> <app-header></app-header></ion-header>
<ion-content>
  <div class="layout-container">
    <app-sidebar (sidebarToggled)="onSidebarToggled($event)"></app-sidebar>
    <!-- Main Content -->
    <div class="main-content" [class.shifted]="sidebarOpen">
      <form [formGroup]="materialForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="vendor">Vendor Name <span>*</span></label>
          <div class="input-wrapper">
            <select class="form-control" formControlName="vendor">
              <option value="" disabled selected>Vendor Name</option>
              @for (v of vendors; track v) {
              <option [value]="v">{{ v }}</option>
              }
            </select>
            @if(materialForm.get('vendor')?.touched){
            <div class="error">
              @if (materialForm.get('vendor')?.errors?.['required']) {
              <small>Vendor Name is required</small> }
            </div>
            }
          </div>
        </div>
        <div class="form-group">
          <label for="invoice">Invoice No</label>
          <input
            type="text"
            class="form-control"
            formControlName="invoice"
            placeholder="Invoice No"
          />
        </div>
        <div class="form-group">
          <label for="date">Transaction Date</label>
          <input type="date" class="form-control" formControlName="date" />
        </div>
        <div class="form-group">
          <label for="comment">Comment</label>
          <textarea class="form-control" formControlName="comment"></textarea>
        </div>
            
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th>Item Code</th>
              <th>Item Name</th>
              <th>Category</th>
              <th>Current Stock</th>
              <th>Purchase Price</th>
              <th>Qty</th>
              <th>Total</th>
              <th>UOM</th>
              <th>Min Stock</th>
              <th>Warranty Period</th>
              <th>Location</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of productList; let i = index">
              <td>{{ item.code }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.category || '-' }}</td>
              <td>{{item.curStock}}</td>
              <td>{{ item.purchasePrice }}</td>
              <td>{{ item.quantity}}</td>
              <td>{{ item.total }}</td>
              <td>{{ item.uom }}</td>
              <td>{{item.minStock}}</td>
              <td>{{ item.warPeriod }}</td>
              <td>{{item.location}}</td>
              <td class="text-center">
  <!-- Edit Icon -->
  <ion-icon 
    name="create-outline" 
    class="action-icon edit-icon" 
    (click)="editProduct(i)">
  </ion-icon>

  <!-- Delete Icon -->
  <ion-icon 
    name="trash-outline" 
    class="action-icon delete-icon ms-2" 
    (click)="deleteProduct(i)">
  </ion-icon>
</td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between align-items-center mt-5">
          <div class="d-flex">
            <button
              type="submit"
              class="btn table-button"
              [disabled]="materialForm.invalid"
            >
              Submit
            </button>
            <button
              type="button"
              class="btn table-button"
              (click)="resetForm()"
            >
              Reset
            </button>
            <p>
              Grand Total
              <button type="button" class="btn total-button">Total</button>
            </p>
            <button
              type="button"
              class="btn table-button"
              (click)="scanBarcode()"
            >
              Generate Bar Code
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>
