.layout-container {
  display: flex;
  flex-direction: row;
  width: 100%;


app-sidebar {
  flex-shrink: 0;
}

.main-content {
  margin-left: 0;

  &.shifted {
    margin-left: 15px;
  }
.custom-gap{
  gap:12px;
}
  /* ===== Form Styling ===== */
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    .form-label {
      width: 120px;
      font-weight: 500;
      margin: 0;
      span {
        color: red;
      }
    }

    .input-wrapper {
      flex: 1;

      .form-control {
        width: 100%;
        border: 1px solid #000;
        border-radius: 0px;
        padding: 6px 4px;
        font-size: 10px;
      }

      
    }
    
  }
  @media (max-width: 768px) {
    .custom-gap{
      gap:0px;
    }
    .form-group {
      // flex-direction: column;
      align-items: flex-start;
    }

    .form-label {
      width: 100%;
      margin-bottom: 4px;
    }

    .input-wrapper {
      width:  100%;
    }

    .form-control {
      width: 100%;
    }
    .buttons{
      margin-left: 0px;
    }
  }
  /* ===== Custom Select with Icon ===== */
  .select-wrapper {
    position: relative;
    width: 100%;

    select {
      appearance: none;
      padding: 6px 8px;
      padding-right: 30px;
      height: 26px; /* make it same height as input */
    }

    .select-icon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      font-size: 14px;
      color: #555;
    }
  }

  
  /* Buttons + Search */
  .searchbar-custom {
    flex: 1;
    min-width: 200px;
    height: 26px;
    font-size: 10px;
  }


  /* ===== Table Styling ===== */
  .table-responsive {
    width: 100%;
    overflow-x: auto;
      -ms-overflow-style: none;
  }
    .table-responsive::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
  -webkit-overflow-scrolling: touch;
}
    .table {
       min-width: 1200px; /* ensures horizontal scroll on smaller screens */
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;

    }

    .table thead th {
      background: #e1c068;
      font-weight: 500;
      text-align: left;
      padding: 8px;
    }

    .table td {
      padding: 8px;
      border: 1px solid #ddd;
    }
     .table-button {
    border-radius: 0px;
    background-color: #e1c068;
    text-align: center;
    height: 26px;
    line-height: 1px;
    border: 1px solid black;
    font-weight: 500;
  }

  .total-button {
    border-radius: 0px;
    background-color: #b9b9b9;
    height: 26px;
    line-height: 1px;
    border: 1px solid black;
    font-weight: 500;
    min-width: 200px;   /* ensure it’s always visible */
  width: auto;     
  }
.buttons{
margin-left: 120px;
}
  
  
}
}