
.layout-container {
  display: flex;
  flex-direction: row;
   width: 100%;

app-sidebar {
  flex-shrink: 0;
}
/* Main content adjusts when sidebar opens */
.main-content {
  flex: 1;
padding: 15px 40px;
  margin-left: 0; /* full width by default */
  transition: margin-left 0.3s ease;


.main-content.shifted {
  margin-left: 15px; /* same width as sidebar in HeaderPage */
}

/* Table styling */
.table {
  font-size: 0.85rem;
  border: 1px solid #B9B9B9;
  margin-bottom: 100px;
thead th {
  background-color:  #e1c068;
}

}
.table-button {
border-radius: 0;
  background-color:  #e1c068;
 text-align: center;
  margin-right: 25px;
  height: 30px;
  width: 150px;
  line-height: 2px;
  border: 1px solid black;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5) ;
  font-size: small;
  margin-bottom: 30px !important;
}
.total-button{
  border-radius: 0;
  background-color:  #B9B9B9;
 text-align: center;
  margin-right: 25px;
  height: 30px;
  width: 350px;
  line-height: 2px;
    border: 1px solid black;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5) ;
  font-size: small;
}
.action-icon {
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.edit-icon {
  color: #007bff; /* Blue for edit */
}

.delete-icon {
  color: #dc3545; /* Red for delete */
}

.action-icon:hover {
  transform: scale(1.2);
}
.form-group{
  display: flex;
  // flex-direction: wrap;
  align-items: flex-start;
  margin-bottom: 12px;
  
  label {
    width: 100px;   /* fixed width for labels */
    margin-right: 10px;
    font-weight: 500;
  }
  .input-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column; /* stack input and error vertically */
  max-width: 600px;
}
   span{
    color: red;
   }
  .form-control {
    flex: 1;       /* input expands to take remaining space */
    border-radius: 0px;
    box-shadow:2px 2px 2px rgba(0, 0, 0, 0.2); 
     max-width: 600px;
    font-size: small;
    color: grey;
  }
  .form-control:hover{
   background-color: rgb(217, 213, 213);
  }
  .comment{
    max-width: none;
  }
  .item{
    margin-left: 105px; 
  }
.error {
    
  margin-top: 4px;
      small {
        color: red;
        font-size: 12px;
      }
    }
}
.totals-section {
  margin-top: 20px;

  .total-row {
    display: flex;
     align-items: center;
    justify-content: space-between;
    // gap: 15px;
    margin-bottom: 12px;
  }

  span {
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
  }

  .total-button {
    max-width: 350px;
  }
}

}
}