.layout-container {
  display: flex;
  flex-direction: row;
   width: 100%;
}
app-sidebar {
  flex-shrink: 0;
}
/* Main content adjusts when sidebar opens */
.main-content {
.main-content.shifted {
  margin-left: 15px; 
} 

  .form-group {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;

    label {
      width: 80px; /* fixed width for labels */
    }
    .item{
      margin-left: 86px;
      padding: 0px;
      width: 538px;
    }
      .input-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column; /* stack input and error vertically */
  max-width: 400px;
}
    span{
        color: red;
    }
    .form-control {
      flex: 1; /* input expands to take remaining space */
      border-radius: 0px;
      max-width: 400px;
      font-size: 10px;
      border:1px solid black;
    }
    .select-wrapper {
    position: relative;
    width: 100%;

    select {
      appearance: none;
      padding: 6px 8px;
      padding-right: 30px;
      height: 26px; /* make it same height as input */
    }

    .select-icon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      font-size: 14px;
      color: #555;
    }
    @media (min-width:540px) and (max-width:765px) {
      .select-icon{
        right:170px ;
      }
    }
     @media (min-width:500px) and (max-width:540px) {
      .select-icon{
        right:155px ;
      }
    }
     @media (min-width:420px) and (max-width:500px) {
      .select-icon{
        right:60px ;
      }
    }
     @media (min-width:400px) and (max-width:420px) {
      .select-icon{
        right:30px ;
      }
    }
  }
    @media (max-width:768px){
      .item{
        margin-left: 0px;
        width: 300px;
      }
      label{
        font-size: 13px;
       width: 80px;
      }
      .form-control{
        max-width: 240px;
      }
      .reset{
        margin-left: 79px;
      }
     
    }
  }

   .submitButton{
      margin-left: 83px;
    }
    .table-button {
    background-color: #e1c068;
   margin-right: 10px;
   @media (max-width:1520px) {
    width: 110px;
    margin-right: 12px;
    padding: 0px;
   }
    @media (max-width:500px) {
      margin-left: 0px;
    display: inline-block;
    width: 100px;
     font-size: small;
    margin-right: 2px;
    padding: 0px;
    }
  }
  
    
}