.layout-container {
  display: flex;
  flex-direction: row;
   width: 100%;
}
app-sidebar {
  flex-shrink: 0;
}
/* Main content adjusts when sidebar opens */
.main-content {
  flex: 1;
padding: 15px 40px;
  margin-left: 0; /* full width by default */
  transition: margin-left 0.3s ease;


.main-content.shifted {
  margin-left: 15px; /* same width as sidebar in HeaderPage */
}
  .form-group {
    display: flex;
    // flex-direction: wrap;
    align-items: flex-start;
    margin-bottom: 12px;
    // gap: 5px;
    label {
      width: 150px; /* fixed width for labels */
      font-weight: 500;
    }
      .input-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column; /* stack input and error vertically */
  max-width: 600px;
}
    span{
        color: red;
    }
    

    .form-control {
      flex: 1; /* input expands to take remaining space */
      border-radius: 0px;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
      max-width: 400px;
      font-size: small;
      color: grey;
      cursor: pointer;
    }
    .form-control:hover{
      background-color: rgb(217, 213, 213);
    }
  }
  .error {
    
  margin-top: 4px;
      small {
        color: red;
        font-size: 12px;
      }
    }
    .table-button {
    border-radius: 0;
    background-color: #e1c068;
    text-align: center;
    margin-right: 25px;
    height: 30px;
    width: 150px;
    line-height: 2px;
    border: 1px solid black;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    font-size: small;
  }
  
}