<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
  <div class="layout-container">
    <app-sidebar header="User Detail" (sidebarToggled)="onSidebarToggled($event)"></app-sidebar>
     <div class="main-content" [class.shifted]="sidebarOpen">
      <div class="d-flex justify-content-start para">
        <p class="ms-2 fs-6 heading">User Type</p>
      </div>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form">
          <div class="form-group  my-3">
          <ion-searchbar
            formControlName="items"
            placeholder="Type User name i.e. Admin"
            class="item"
          >
          </ion-searchbar>
        </div> 
        <ion-row>
        <ion-col  size="12" size-md="4">
      <div class="form-group">
        <label name="name" class="labels">User Type</label>
        <div class="input-wrapper">
        <input type="text" class="form-control" formControlName="name" placeholder="User Type"/>
           @if((userForm.get('name')?.touched||userForm.get('name')?.dirty )&& userForm.get('name')?.invalid){
            <div class="error">
              @if (userForm.get('name')?.errors?.['required']) {
        <small>User Type is required</small>
      }
       @if (userForm.get('name')?.errors?.['minlength']) {
        <small>User Type must be aleast 3 characters long.</small>
      }
        @if (userForm.get('name')?.errors?.['pattern']) {
        <small>User Type  can only contain letters and spaces.</small>
      }
      </div>
    }
    </div>
    </div>
          </ion-col>
           <ion-col size="12" size-md="4">
      <div class="form-group">
          <label for="active">Active</label>
          <ion-checkbox formControlName="active"></ion-checkbox>
      </div>
      </ion-col>
        </ion-row>
        <ion-row >
          <ion-col size="12" size-md="4">
      <div class="form-group">
        <label name="password" class="labels">User Type Description</label>
        <div class="input-wrapper">
        <input type="password" class="form-control" formControlName="password" placeholder="Description"/>
  </div>
      </div>
      </ion-col>
      </ion-row>
      
      <div class="table-container">
        <table class="table table-bordered table-sm mt-3 auto-fit-table">
          <thead>
            <tr>
              <th>User Role</th>
              <th>Active</th>
              <th class="actionHead">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of userTypeList; let i = index">
              <td>{{ item.userType }}</td>
              <td>{{item.active}}</td>
              <td class="text-center">
                <!-- Edit Icon -->
                <ion-icon
                  name="create-outline"
                  class="action-icon edit-icon"
                  (click)="editProduct()"
                >
                </ion-icon>

                <!-- Delete Icon -->
                <ion-icon
                  name="trash-outline"
                  class="action-icon delete-icon ms-2"
                  (click)="deleteProduct()"
                >
                </ion-icon>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
         <div class="d-flex justify-content-between align-items-center mt-4 flex-wrap-column ">
            <button type="submit" class="btn table-button" [disabled]="userForm.invalid">Submit</button>
            </div>
        </div>
      </form>
     </div>
    </div>
    </ion-content>
    